* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 18px;
	padding: .5em 2em;
	text-align: center;
	background-color: #f9f9f9;
}

h1 {
	font-size: 3em;
	margin-bottom: 1em;
}

h2 {
	font-size: 2.25em;
	margin-bottom: 1em;
}

#button-play-again {
	margin: 0 auto;
}

#container {
	margin: 2em auto;
	width: 100%;
	max-width: 500px;
}

#game-board {
	display: grid;
	grid-template-columns: repeat(3, 150px);
	grid-gap: 5px;
	margin: 0 auto;
	width: 460px
}

#play-again {
	margin: 0 auto;
}

#square-0, #square-1, #square-3, #square-4 {
	border-width: 0 2px 2px 0;
}

#square-2, #square-5 {
	border-width: 0 0 2px 0;
}

#square-6, #square-7 {
	border-width: 0 2px 0 0;
}

#square-8 {
	border-width: 0;
}

#turn {}

.game-square {
	border: 2px solid lightgrey;
	border-color: lightgrey;
	border-style: solid;
	display: flex;
	font-size: 6em;
	line-height: 120px;
	padding: 20px 40px;
	height: 150px;
	width: 150px;
	justify-content: center;
    align-items: center;
	cursor: pointer;
    background-color: white;
}

.game-square:hover {
    background-color: #e0e0e0;
}


#game-over-message {
    display: none;
    margin-top: 20px;
}

#scoreboard {
    margin-top: 20px;
}
